.container table {
	width: 100%;
}
.container table tr {
	line-height: 30px;
	text-align: center;
}
.container table tr td input {
	display: inline-block;
	width: 80%;
	text-align: center;
}
.addNew{
	margin-top: 30px;
}
.addNew tr th input {
	display: inline-block;
	width: 80%;
	text-align: center;
}
.search .hide {
	display: inline-block;
	border: none;
}
h2 {
	text-align: center;
}