extends ../layout

block content
	link(rel="stylesheet", href="stylesheets/admin/stores.css")
	.container
		div.topShow
			h2 欢迎，您的身份是：
				span 管理员
				a(href="/admin/users" class='btn btn-success') 用户管理
				a(href="/admin/goods" class='btn btn-success') 商品管理
				a(href="/logout" class='btn btn-danger') 退出
		h2 商家管理
		table.addNew
			tr
				td
					input(type="text" class='newId' placeholder='输入新增商家的ID')
				td
					input(type="text" class='newPwd' placeholder='输入新增商家的密码')
				td
					input(type="text" class='newPhone' placeholder='输入新增商家的客服电话')
				td
					input(type="text" class='newIntro' placeholder='输入新增商家的简介')
				td
					a(class='btn btn-success' href="javascript:void(0)" onclick='addStore()') 新增
		table.delete
			tr
				td
					input(type="text" class='deleteId' placeholder='输入商家的ID删除该商家')
				td 
					input(type="text" class='hide' disabled) 					
				td 
					input(type="text" class='hide' disabled)
				td 
					input(type="text" class='hide' disabled)
				td 
					a(class='btn btn-success' href="javascript:void(0)" onclick='deleteStore()') 删除
		table.search
			tr
				td
					input(type="text" class='searchId' placeholder='输入商家的ID进行搜索')
				td 
					input(type="text" class='hide' disabled) 					
				td 
					input(type="text" class='hide' disabled)
				td 
					input(type="text" class='hide' disabled)
				td 
					a(class='btn btn-success' href="javascript:void(0)" onclick='searchStore()') 搜索
		h2 当前所有商家信息
		.showTable
			table.stores.table-bordered.table-striped
				tr
					th 商家ID
					th 商家密码
					th 商家客服电话
					th 商家简介
					th 操作

	script(src='javascripts/admin/stores.js')
		