extends ../layout

block content
	link(rel="stylesheet", href="stylesheets/admin/stores.css")
	.container

		.showTable
			table.table-bordered.table-striped
				tr
					th 商家ID
					th 商家密码
					th 商家客服电话
					th 商家简介
					th 操作
	script(src='javascripts/admin/stores.js')