doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel="stylesheet", href="/stylesheets/lib/bttostrap.min.css")
    script(src='/javascripts/lib/jquery-2.2.0.min.js')
    script(src='/javascripts/lib/bttostrap.min.js')
  body
    block content

